<form action="/members" method="post">
<table>
  <tr>
    <td><label for="first_name">First Name:</label><td>
    <td><input type="text" name="first_name"/></td>
  </tr>
  <tr>
    <td><label for="last_name">Last Name:</label><td>
    <td><input type="text" name="last_name"/></td>
  </tr>
  <tr>
    <td><label for="membership_id">Membership type:</label><td>
    <td>
      <select name="membership_id">
      <% for membership in @memberships %>
      <option value="<%= membership.id%>"><%= membership.type_styled %></option>
      <% end %>
    </select>
  </td>
  </tr>
  <tr>
    <td><label for="goal">Goal:</label><td>
    <td><input type="text" name="goal"/></td>
  </tr>
  <tr>
</table> <br/>
<input type="submit" value="Create Member"/>
</form>
