<form action="/memberships" method="post">
  <label for="type">Membership type:</label>
    <input type="text" name="type"/><br/>
  <label for="start_time">Allow access from:</label>
    <input type="text" name="start_time"/><br/>
  <label for="end_time">Allow access until::</label>
    <input type="text" name="end_time"/> <br/>

  <input type="submit" value="Create Membership"/>
</form>
