<form action="/memberships" method="post">
<table>
  <tr>
    <td><label for="type">Membership type:</label><td>
    <td><input type="text" name="type"/></td>
  </tr>
  <tr>
    <td><label for="start_time">Allow access from:</label><td>
    <td><input type="time" name="start_time" required/></td>
  </tr>
  <tr>
    <td><label for="end_time">Allow access until:</label><td>
    <td><input type="time" name="end_time" required/></td>
  </tr>
</table> <br/>
<input type="submit" value="Create Membership"/>
</form>
