<form action="/rooms/<%= @room.id %>" method="post">
  <label for="name">Name:</label>
    <input type="text" name="name" value="<%= @room.name %>"/> <br/>
  <label for="capacity">Capacity:</label>
    <input type="text" name="capacity" value="<%= @room.capacity %>"/> <br/>

  <input type="submit" value="Confirm Changes"/>
</form>
