<h1><b>Room details:</b> </h1>
<p><b>Name:</b> <%= @room.name %></p>
<p><b>Capacity:</b> <%= @room.capacity %></p>
<form class="" action="/rooms/<%= @room.id %>/edit" method="get">
  <input type="submit" value="Edit room">
</form>
<form class="" action="/rooms/<%= @room.id %>/delete" method="post">
  <input type="submit" value="Delete room">
</form>
