<div class="home">
  <!-- <img src="/images/background.jpg" alt="Man weightlifting background" class="home-bg"> -->
  <h1>Welcome back, Lets get down to business!</h1>
  <h3>
  You currently have: <br>
  <%= @member_count %> members. <br>
  <%= @session_count %> sessions.<br>
  <%= @room_count %> rooms.
  </h3>
  <hr align="left">

  <h2>Thought for the day:</h2>

  <h3><strong>"Add a drop of lavender to your bath and soon, you will soak yourself calm."</strong> <br>
  Manny</h3>
  <hr align="left">
  <h2>Some recent love from our users:</h2>

  <h3><strong>"This software is a dream to use. 5/7"</strong> <br>
  Mitchell Mitchellson - Owner of a couple of gyms</h3>
  <h3><strong>"This is only the site Amazon could have been."</strong> <br>
  Alan Partridge</h3>
</div>
