<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Managym</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="background"></div>
    <nav>
        <a href="/">Home</a>
        <a href="/bookings/new">New Booking</a>
        <div class="dropdown">
          <a href="/members">Members</a>
          <div class="dropdown-content">
            <a href="/members/new">New Member</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="/sessions">Sessions</a>
          <div class="dropdown-content">
            <a href="/sessions/new">New Session</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="/rooms">Rooms</a>
          <div class="dropdown-content">
            <a href="/rooms/new">New Room</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="/memberships">Memberships</a>
          <div class="dropdown-content">
            <a href="/memberships/new">New Membership</a>
          </div>
        </div>
    </nav>
    <%= yield %>
  </body>
  <footer>
  <h5> Powered by: Managym &#169; , A pretty good gym management platform</h5>
  </footer>
</html>
