<form action="/bookings" method="post">
  <label for="member_id">Member ID:</label>
    <input type="text" name="member_id"/><br/>
  <label for="session_id">Session ID:</label>
    <input type="text" name="session_id"/><br/>

  <input type="submit" value="Create Booking"/>
</form>
