<h1><b>Booking information:</b></h1>
<p><b>Member:</b> <%= @booking.member.full_name %></p>
<p><b>Type:</b> <%= @booking.session.type %></p>
<p><b>Trainer:</b> <%= @booking.session.trainer %></p>

<form class="" action="/bookings/<%= @booking.id %>/delete" method="post">
  <input type="submit" value="Delete booking">
</form>
