html {
  height: 100%;
  width: auto;
}

nav {
  height: 100%;
  width: 175px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  /* min-width: min-content; */
  overflow-x: hidden;
  padding-top: 20px;
  margin-right: 10px;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
}

nav a:hover {
  color: #80ffff;
}

body {
  margin-left: 195px;
  background-color: #ccdcff;

}

.home {
  align: center;
  color: white;
  text-shadow: 0 0 2rem #000000;
  text-shadow: 0 0 1rem #000000;
  text-shadow: 0 0 0.5rem #000000;
  text-shadow: 0 0 0.2rem #000000;
}

.home hr {
  width: 20%
}

.home-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: 200%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url('../images/background.jpg');
}

footer {
  color: white;
  text-shadow: 0 0 2rem #000000;
  text-shadow: 0 0 1rem #000000;
  text-shadow: 0 0 0.5rem #000000;
  text-shadow: 0 0 0.2rem #000000;
}
