<form action="/sessions" method="post">
  <label for="type">Type:</label>
    <input type="text" name="type"/><br/>
  <label for="trainer">Trainer:</label>
    <input type="text" name="trainer"/><br/>
  <label for="capacity">Capacity:</label>
    <input type="text" name="capacity"/> <br/>

  <input type="submit" value="Create Session"/>
</form>
