<form action="/rooms/<%= @room.id %>" method="post">
<table>
  <tr>
    <td><label for="name">Name:</label></td>
    <td><input type="text" name="name" value="<%= @room.name %>"/></td>
  </tr>
  <tr>
    <td><label for="capacity">Capacity:</label></td>
    <td><input type="number" name="capacity" value="<%= @room.capacity %>"/></td>
  </tr>
</table> <br/>
<input type="submit" value="Confirm Changes"/>
</form>
